langchain
langchain-core
langchain-community
langchain-openai

langchain-text-splitters
langgraph

mem0ai
python-dotenv
chromadb
fastapi
uvicorn[standard]
pydantic-settings
streamlit
requests
email-validator

